<div class="span hero-unit">
	O valor recebido ao ganhar um desafio será: <br>
	Valor apostado + (Valor total das apostas erradas / Total de acertos) <br>

	<br>
	<div class="span4">
	  <h2>Challenges</h2>
	   <p>
	   	question:string private:boolean bet_value:decimal min_bets:integer max_bets:integer start_time:datetime end_time:datetime correct_option:integer
	   </p>
	</div>
	<div class="span4">
	  <h2>Options</h2>
	   <p>
	   	challenge:references answer:string
	   </p>
	</div>
</div>